@media (max-width: 739px) {
  .item-wrapper {
    width: 90%;
  }

  .brand-information .brand-avatar {
    width: 30%;
  }

  .brand-link_item li a {
    padding: 0.8rem 0;
  }

  .brand-link_item li a img {
    width: 12%;
  }

  .brand-link_icons ul li {
    margin: 0.5rem 1rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 1023px) {
}

@media (min-width: 740px) and (max-width: 1024px) {
  .item-wrapper {
    width: 80%;
  }

  .brand-information .brand-avatar {
    width: 15%;
  }

  .brand-link_item li a {
    padding: 1.5rem 0;
  }

  .brand-link_item li a img {
    width: 9%;
  }

  .brand-link_icons ul li {
    margin: 0.5rem 1rem;
    font-size: 1.6rem;
  }

  .overlay-open-share .modal {
    width: 60%;
  }
}
